<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://www.dropbox.com/s/j3ueejvlwt37svr/PP_ProductionReports2_1.iPhone.iPad.4.3.20140702164515.ipa?dl=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.gm.gmit.manufacturing.mobile</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>prototype</string>
				<key>title</key>
				<string>GM Global Mobile</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
